html {font-family: century gothic;}

#entete {
	height: 80px;
	padding-left: 5%;
	padding-top: 10px;
	padding-bottom: 70px;
}

#logo {
	float: left;
	max-width: 15%;
	max-height: 135px;
}

#titre {
	float: left;
	text-align: left;
	padding-left: 5%;
}

#entete, #pieddepage {
	background: url(../img/Fond_Kraft.jpg);
}

#pieddepage{
	padding-top: 20px;
	padding-bottom: 20px;
}

#lienformulaire {
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

#menu {
	float: right;
	text-align: center;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-top: 15px;
	width: 20%;
	color: black;
	font-size: 150%;
	background-color: white;
	opacity: 0.6;
}

#menu:hover {
	float: right;
	text-align: center;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-top: 15px;
	width: 20%;
	color: white;
	font-size: 150%;
	background-color: black;
	opacity: 1;
	transition: 0.5s;
}

/*centre le titre en blanc*/
h1 {
	font-size: 40px;
	text-align: center;
	color : #85BE00 ;
}

/*sous titre en blanc, centré*/
h2 {
	font-size: 20px;
	text-align: center;
	font-style: italic;
	color : black;
}

/*en tête*/
header{
	background-color: #808080;
	height:80px;
	padding-bottom: 50px;
	}

/*Met le fond en noir*/
body {
	background-color: black;
}

/*image*/

img:hover{
	background-size: cover;
	transition: 0.6s;

}

/* Supprime le trait souligné sous un lien */
a {
	text-decoration: none;
}

.contenant {
  position: relative;
  text-align: center;
  color: black;
  padding :10px;

}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  opacity: 0.8;

  
}
