html {font-family: century gothic;}

/*centre le titre en blanc*/
h1 {
	font-size: 40px;
	text-align: center;
	color :white ;
}

/*sous titre en blanc, centré*/
h2 {
	font-size: 20px;
	text-align: center;
	font-style: italic;
	color : white;
}

/*en tête*/
header{
	background-color: #808080;
	height:80px;
	padding-bottom: 50px;
	}

/*Met le fond en noir*/
body {
	background-color: black;
}

/*image*/

img:hover{
	background-size: cover;
	transition: 0.6s;

}

/* Supprime le trait souligné sous un lien */
a {
	text-decoration: none;
}

