html {font-family: century gothic;}


#entete {
	min-height: 80px;
	padding-left: 5%;
	padding-bottom: 70px;
}

#logo {
	padding-top: 20px;
	float: left;
	max-height: 100px;
	min-width: 20px;
}

#titre {
	float: left;
	padding-left: 15%;
}

#entete, #pieddepage{
	background: url(../img/Fond_Kraft.jpg);
}

/*centre le titre en blanc*/
h1 {
	font-size: 40px;
	color : #AACE3A;
}

/*sous titre en blanc, centré*/
h2 {
	font-size: 15px;
	font-style: italic;
	color : black;
}


/*Met le fond en noir*/
body {
	background-color: black;
}

/*image*/

img:hover{
	background-size: cover;
	transition: 0.6s;

}

/* Supprime le trait souligné sous un lien */
a {
	text-decoration: none;
}

